@model dpcleague_2.Models.Sportiv

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sportiv</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNasterii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNasterii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porecla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porecla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizatie.Denumire)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SportivId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
