@model dpcleague_2.Models.Eveniment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eveniment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denumire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disciplina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disciplina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInceput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInceput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locatia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locatia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EvenimentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
