@model dpcleague_2.Models.Bilet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bilet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataProcurarii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataProcurarii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eveniment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eveniment.Denumire)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BiletId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
